<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>List all Plants</title>

	<link rel="stylesheet" href="list_files/bootstrap.css">
</head>
<body>

<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">List of Plants</div>
  <div class="panel-body">

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="plant : ${plants}">
				<td th:text="${plant.name}"></td>
				<td th:text="${plant.description}"></td>
				<td th:text="${plant.price}"></td>
				<td>
				<form style="float:left; padding:5px; height:0px" th:method="get" th:action="@{'/plants/'+${plant.id}}"><button class="btn btn-default btn-xs" type="submit"><span class="glyphicon glyphicon-search"></span></button></form>
				<form style="float:left; padding:5px; height:0px" th:method="get" th:action="@{'/plants/'+${plant.id}+'/form'}"><button class="btn btn-default btn-xs" type="submit"><span class="glyphicon glyphicon-pencil"></span></button></form>
				<form style="float:left; padding:5px; height:0px" th:method="delete" th:action="@{'/plants/'+${plant.id}}"><button class="btn btn-default btn-xs" type="submit"><span class="glyphicon glyphicon-trash"></span></button></form>
				</td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-default" th:href="@{/plants/form}">Add a new plant</a>
	</div>
	</div>
</div>

<script src="list_files/jquery.js"></script>
<script src="list_files/bootstrap.js"></script>

</body></html>